.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 145px;
    height: 96.869px;
}

.btn {
    font-size: 25px;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
}

.lang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #37387B;
    padding: 5px;
    border-radius: 5px;
    
}

.lang img {
    width: 20px;
    height: 20px;
    padding: 0 3px;
    
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

.login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.login button {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

