.main-bookingForm {
    display: flex;
    justify-content: flex-end; /* Align to the end of the right page */
    margin-right: 200px; /* Add a right margin of 40px */
    height: 90vh; /* Optionally, set a height to make it fill the viewport */
    align-items: center; /* Vertically center the content */
  }

.mainpic {
    position: absolute;
    z-index: 1;
    width: 100%; /* Full width of the viewport */
    height: 95vh; /* Full height of the viewport */
    top: 97.2px; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left of the viewport */
}

.booking {
    z-index: 1;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    box-shadow: #545F71;
    border-radius: 24px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 412px;
}

.start p {
    display: flex;
    justify-content: start;
    align-items: start;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 10px 39px 13px 15px;
    align-items: flex-end;
    gap: 10px; /* Adjust the gap between input elements */
    border-radius: 6px;
    border: 1px solid #545F71;
    background: rgba(55, 56, 123, 0.50);
  }

  .input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

    .input-container img {
        width: auto;
        height: 24px;
    }
  
  .input {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
  }
  
  /* Additional styles for the button if needed */
  .booking-btn {
    display: flex;
    width: 80%;
    height: 48px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 6px;
    background: #37387B;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: inter;
  }

  .our-values {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .our-values h1 {
    color: #545F71;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 80px;
  }
  
  .values-contents {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    max-width: 1400px; /* Optional: Limit the maximum width of the items */
    margin: 0 auto; 
  }
  
  .values-contents > div {
    text-align: center;
    width: 283px;
    height: auto;
    overflow: hidden; /* Hide overflow outside the circle */
  }
  
  .first-value-content > div {
    position: absolute;
    width: 283px;
    height: 240px;
    border-radius: 50%;
    background: rgba(124, 125, 176, 0.90);
    filter: blur(28px);
    z-index: -1; /* Place it behind content */
  }

  .second-value-content > div {
    position: absolute;
    width: 283px;
    height: 240px;
    border-radius: 50%;
    background: rgba(124, 125, 176, 0.90);
    filter: blur(28px);
    z-index: -1; /* Place it behind content */
  }
  
  .third-value-content > div {
    position: absolute;
    width: 283px;
    height: 240px;
    border-radius: 50%;
    background: rgba(124, 125, 176, 0.90);
    filter: blur(28px);
    z-index: -1; /* Place it behind content */
  }
  
  .fourth-value-content > div {
    position: absolute;
    width: 283px;
    height: 240px;
    border-radius: 50%;
    background: rgba(124, 125, 176, 0.90);
    filter: blur(28px);
    z-index: -1; /* Place it behind content */
  }
  
  
  .values-contents img {
    width: 150px; /* Adjust the image size as needed */ /* Add relative positioning */
    z-index: 1; /* Place the image above the background */
    margin: 30px 0 0 15px;
  }
  
  .values-contents p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin: 80px 10px 0 15px;
    position: relative; /* Add relative positioning */
    z-index: 2; /* Place the text above the background */
  }

  .who-we-are {
    background-color: rgba(124, 125, 176, 0.50);;
    padding: 70px;
    margin-top: 100px;
    margin-bottom: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

  }

  .who-we-are h1 {
    color: #37387B;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 75% */
    letter-spacing: -0.96px;
  }

  .who-we-are p {
    color: #525252;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
    letter-spacing: -0.4px;
    max-width: 1000px;

  }

  .who-we-are span {
    color: #37387B;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.4px;
  }

  .comments {
    background-color: #fff;
    padding: 70px;
    margin-top: 100px;
    margin-bottom: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .comments h1 {
    color: #545F71;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: bold;
    font-weight: bold;
    line-height: 36px; /* 75% */
    letter-spacing: -0.96px;
  }

  .information-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    align-items: center;
  }

  .information-comments .input-comment {
    display: flex;
    height: 48px;
    width: 100%;
    padding: 13.5px 571px 12.5px 14px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #545F71;
    
    background: rgba(55, 56, 123, 0.50);
  }

  .information-comments .input-comment-message {
    display: flex;
    height: 180px;
    width: 100%;
    padding: 13.5px 571px 12.5px 14px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #545F71;
    background: rgba(55, 56, 123, 0.50);
  }

  .btn-comment {
    width: 40%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #37387B;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    font-family: inter;
    border-radius: 6px;
  }

.information-comments .input-comment::placeholder,
.information-comments .input-comment-message::placeholder {
  color: white; /* Set the placeholder text color to white */
  font-weight: bold;
  font-size: 16px; /* Make the placeholder text bold */
}





.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-comment-message {
  flex-grow: 1;
  border-radius: 6px;
  border: 1px solid #545F71;
  background: rgba(55, 56, 123, 0.50);
  padding: 13.5px 0px 12.5px 14px;
}

.format-toolbar {
  display: flex;
  gap: 10px;
}